
  <!-- ======= Title Section ======= -->
  <section id="hero" class="title-section d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
        <div class="company-title">
            <h1>Oromia Science Technology and Information Communication Authority</h1>
            <h2>National Regional Government of Oromia</h2>
            <!-- <h2>
                Bulchiinsa Mootummaa Naannoo Oromiyaatti Abbaa Taayitaa Saayinsii, Tekinooloojii fi Quunnamtii Odeeffannoo
            <br>
                በኦሮሚያ ብሔራዊ ክልላዊ መንግስት የኦሮሚያ ሳይንስ ፣ ቴክኖሎጂና ኢንፎርሜሽን ኮሚኒኬሽን ባለስልጣን
            <br>
                The National Regional Government of Oromia Oromia Science Technology and Information Communication Authority
            </h2> -->
            <div class="line-2"></div>
            <!-- <a href="#about" class="nav-link btn-get-started scrollto">Get Started</a> -->
        </div>
    </div>
  </section><!-- End Title -->

  <main id="main">

      <!-- <div class="row">
          <div class="align-items-center ostica-logo" data-aos="zoom-in">
            <img src="assets/img/ostica.png" class="title-img" alt="">
          </div>
      </div> -->

      
      <!-- ======= Mission and Vision Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">
            <div class="row">
              <div class="col-md-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><i class="bx bx-file"></i></div>
                  <h4>Ergama</h4>
                  <p>
                      Misooma, cehumsaa fi kenna tajaajilaa saayinsii fi teekinoloojii ol’aantummaan qindeessuu, jajjabeessuu fi raawwachuun guddina hawwaas-diinagdee naannoo keenyaa mirkaneessuu dha.
                  </p>
                </div>
              </div>

              <div class="col-md-4 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4>Mul’ata</h4>
                  <p>
                      Bara 2022 tti jiruu fi jireenyi uummata naannoo keenyaa itti fayyadama teekinoloojiin ammayyaa’ee arguudha.
                  </p>
                </div>
              </div>
              
              <div class="col-md-4 d-flex align-items-stretch mt-4 mt-lg-0">
                  <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4>Duudhaalee</h4>
                    <div style="text-align: left;">
                        <i class="ri-check-double-line font_small"></i>Ilaalchaa saayinsaawaan qajeelfamna <br>
                        <i class="ri-check-double-line font_small"></i>Guddina teekinoloojii ni jajjabeessina <br>
                        <i class="ri-check-double-line font_small"></i>Yeroo hundaa ni baranna <br>
                        <i class="ri-check-double-line font_small"></i>Jijjiiramaaf qophiidha <br>
                        <i class="ri-check-double-line font_small"></i>Gareedhaan hojjenna <br>
                        <i class="ri-check-double-line font_small"></i>Saffisaa fi qulqulliinaan tajaajilla
                    </div>
                  </div>
                </div>
              
            </div>
  
        </div>
      </section><!-- End Mission and Vision Section -->


      <!-- Slideshow Section -->
      <!-- <section>
        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[0]" alt="Random first slide">
            </div>
            <div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[1]" alt="Random second slide">
            </div>
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[2]" alt="Random third slide">
            </div>
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </section> -->
      <!-- ===== End Slideshow Section ===== -->

      <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
          <div class="row content">
              <div class="col-lg-12" data-aos="fade-right" data-aos-delay="100">
                <h3 style="text-align: center;">About OSTICA</h3>
              </div>

            <div class="line-2"></div> <br><br>

              <div class="col-lg-12 paragraph_justify" data-aos="fade-right" data-aos-delay="100">
                  <img src="assets/img/ostica_photos/ostica_gate.jpg" class="home_photo home_photo_left">
              <!-- </div>
              <div class="col-lg-7 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200"> -->
                <p>
                    Abbaan Taayitaa Saayinsii Tekinooloojii fi Qunnamtii Odeeffannoo Oromiyaa sadarkaa Manneen hojii mootummaa naannichaa irraa deebiin gurmeessuun taasifameen Ejensii misooma Tajaajila Qunnamtii Odeefannoo fi Ejensii misooma Saayinsii Teekinooloojii waliin walitti makamuun labsii lakkoofsa 213/2011 A.L.I Abbaa Taayitaa ta’ee hundaa’un aangoo hojii kennameef giddu galeessa godhachuun hojiilee adda addaa  iftoomina, itti gaafatamummaa fi bu’a qabeessummaa uummataa gonfate cimsuudhan hojii saayinsii fi Teekinoolojii naannichaa abbummaan hogganuu fi deeggaruun misooma naannichaa ariifachiisuu dhaan hojjechaa jira. 
                    Haaluma kanaan hojiiwwan ijoo keessa tokko kan ta’e teekinolojiwwaan bu’a qabeessa ta’ani fi hawwaasa tajaajiluu danda'an biyya alaa fi keessa barbaaduun madaqsuun, misoomsuu fi tamsaasuu dhaan hojiiwwan gurguddaan raawwatama jira.
                </p>
                <br>
                  <img src="assets/img/ostica_photos/cultural_center.jpg" class="home_photo home_photo_left">
                <p>
                  Akkasumas Abbaan Taayitaa saayinsii,Teekinooloojii fi Quunamtii Odeefannoo Oromiyaa hojiiwwan gama saayinsii fi Teekinooloojii quunamtiitiin jiru naanicha keessatti daran baballisee hawaasa naanichaa fayyadamaa taasisuuf yeroo kamiyyuu caalaa xiyyeefannoon hojjechaa jira.
                  Haaluma kanaan,bara kana pirojektiwwan gurguddaa qabatee irratti hojjechaa kan jiru yoo ta'u,pirojeektiwwan kanneen keessaa pirojektii data center naanichaa haala naannicha madaaluun hojjechuu, pirojektii Oromiyaa dijitaalessuu(digital Oromia),pirojektii saayinsii kaaffee,isaan muraasa.                
                  Bu'uuruma kanaan Abbaan Taayitichaa bu'aalee teekinooloojii fi saayinsii kamiyyuu bu'aa fi faayidaa hawaasa keenyaaf oolchuuf hoggansi fi ogeessoti abbaa taayitichaa hundu kutannoon ni hojjetu. Isaan keessaa kanneen armaan gadii hojiilee ijoo Abbaa Taayitichaati.
                </p>
                <br>
                <img src="assets/img/ostica_photos/cultural_center_2.jpg" class="home_photo home_photo_left">
                <p>
                  Bulchiinsi mootummaa Naannoo Oromiyaa Damee saayinsii fi teekinoloojiitiif xiyyeeffannoo addaa kennuudhaan waggaa kudhan dura tajaajila manneen hojii mootummaa naanichaa si’ataa fi qulqullina qabu kennuuf akkasumas bulchiinsa gaarii mirkaneessuuf akka danda’amuutti Ejansii Misooma TQO Oromiyaa hundeessee ture. Itti aansunis qorannoo, misooma fi ce’umsa teekinooloojii naannichaa cimsuu fi faayidaa hawaasichi damee kana irraa argachuu malu guddisuuf waggaa lama dura Ejansii Misooma Saayinsii fi Teekinoojii hundeessuun isaa ni yaadatama.
                </p>
                <br>
                <br>
                <img src="assets/img/ostica_photos/ostica_bldg.jpg" class="home_photo home_photo_left">
                <p>
                  Haa ta’u malee gurmaa’insa manneen hojii mootummaa karaa caalmaatti bu’a qabeessa ta’een akka gurmaa’an kallatti mootummaan kaa’een EMTQO fi EMSTO akka walitti makaman taasisuun, Labsii Qaamolee Raawwachiiftuu Mootummaa Naannoo Oromiyaa Irra Deebiidhaan Gurmeessuu, Aangoo fi Hojii Isaanii Murteessuuf Bahe, Lak. 213/2011 fi Akkaataa keewwata 39tiin manneen hojii lameen walitti makuun mana hojii Abbaa Tayitaa Saayinsii, Teeknooloojii fi Qunnamtii Odeeffannoo hundeessee jira.  Manni hojichaas, aangoo fi gahee hojii itti kenname kana haala gahumsa qabuun raawwachuuf karoorri bara bajataa 2011 irra deebiin akka qophaa’uu ta’ee jira.
                  Haaluma kanaan akkataa qophii karoora SMBKT tti KGT II bu’uura godhachuudhaan kallattiiwwan madaallii arfaniin kaayyolee gurguddoo digdamii sadii 23 qophaa’ee jira. Kaayyolee kana milkeessuufis pirojektonni gurguddooni fi sagantaalee idileetiin hojiileen hojjetaman adda bahanii jiru. Raawwii pirojektotaa fi hojiilee gurguddoo kanneenif bajata barbaachisu qopheessuu fi sirna hordoffii fi gamaaggamaas diriiree jira.
                </p>
              </div>
            </div>
    
        </div>
      </section><!-- End About Section -->


    

    <section id="portfolio" class="portfolio">
        <div class="container">
  
          <div class="section-title paragraph_justify" data-aos="fade-left">
            <h2>Dhaabbileen Nageenyummaa Saaybarii Isaanii Eeggachuuf Yaadota Furmaata Fudhachuu Qaban</h2>
            <p>
                Finfinnee, Sadaasa 7, 2013 (FBC0- Dhaabbileen nageenyummaa saaybarii isaanii eeggachuuf yaadota furmaata fudhachuu qaban Eenjansiin Nageenya Infoormeeshinii ifoomseera.
                Ragoonni dhiheenyatti ba’an akka mul’dhisannitti yoo ta’e, damee kaminiyyu, dhaabbilee guddaas ta’ee xiqqaa bakka kamittu argaman caarraan haleellaa saaybariif saaxilamoo ta’u isaanii olaanaa akka ta’e ni muul’dhisa.                
                Ta’us dhaabbileen haleellaa saaybarii ittisuuf yaadota furmaata fudhachuu qaban keessaa:-                
                -Imaammataa fi tarsiimoo nageenya saaybarii kalaquu fi hojiirra oolchu                
                -Sagantaawwan garagaraa bulchiinsa sodaa nageenya saaybarii, balichaa deebisanii dandamachuu fi itti fufinsaan kalaquu fi hojiirra oolchu.                
                -Kutaan hojii sodaa saaybarii akka walitti hin buneetti hundeessu.                
                -Teeknooloojii barrii hojii isaanii dhumatee jijjiiruu fi ammayyeessu.                
                – Dhaabbataatti haala saaybarii ittisu hojirraa oolchuu ta’uu ragaan Eejansicharra arganne ni muul’dhisa..                                                 
                Karaa marsariitii (weebsaayitii) keenya fanabc.com/afaanoromoo nu hordofaa.  
            </p>
          </div>

        </div>
    </section>
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" style="text-align: center;">

        <div data-aos="fade-left">
          <h2>OSTICA Photos</h2>
          <div class="line-2"></div> <br>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Agreements</li>
              <li data-filter=".filter-card">Meetings</li>
              <li data-filter=".filter-web">Work</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 col-md-12 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/ostica_gallery/grid1.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
        
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 col-md-12 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/ostica_gallery/grid2.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 col-md-12 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/ostica_gallery/grid3.png" class="img-fluid" alt="">
            </div>
          </div>
          
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 col-md-12 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/ostica_gallery/grid4.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/ostica_gallery/agreement2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/ostica_gallery/gridserver.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/ostica_gallery/meeting1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/ostica_gallery/work1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/ostica_gallery/meeting2.png" class="img-fluid" alt="">
            </div>
          </div>

         <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/ostica_gallery/meeting.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
            </div>
          </div>-->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

     <!-- ======= Team Section ======= -->
    <!--<section id="team" class="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>Team</h2>
              <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-lg-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                    <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                  <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Sarah Jhonson</h4>
                    <span>Product Manager</span>
                    <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member" data-aos="zoom-in" data-aos-delay="300">
                  <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member" data-aos="zoom-in" data-aos-delay="400">
                  <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Amanda Jepson</h4>
                    <span>Accountant</span>
                    <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section> -->
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>Contact</h2>
              <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <!-- <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" height="270" id="gmap_canvas" src="https://maps.google.com/maps?q=oromia%20government%20offices%20sarbet&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe> -->
            <!-- <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=sarbet&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe> -->
            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=sarbet&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <div class="info mt-4">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Sarbet, Addis Ababa</p>
            </div>
            <div class="row">
              <div class="col-lg-6 mt-4">
                <div class="info">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@osta.gov.et</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info w-100 mt-4">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+251-011-371-73-05/2521</p>
                </div>
              </div>
            </div>

            <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <app-footer></app-footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
